@{
    ViewBag.Title = "About";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fancy</title>
   
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="~/css/style.css" rel="stylesheet">
 
</head>
<body>
 
    
    <section class="creative_feature_area">
        <div class="container">
       
            <div class="digital_feature p_100">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d_feature_text">
                            <div class="main_title">
                                <h2>We Are A Creative <br /> Digital Agency Focused on Growing Brands Online</h2>
                            </div>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
                            <a class="read_btn" href="#">Read more</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d_feature_img">
                            <img src="~/img/feature-right.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
