
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script nonce="rAnd0m123" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script nonce="rAnd0m123" src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Home/Index">Homepage</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Know more on Map
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="~/Home/Map">Commuting Cost</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Home/MapCulture">Cultural Groups Map</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Home/MapCriminal">Criminal Incidents Map</a></li>

                        </ul>
                    </li>
                    <li><a href="~/VicFinals/SelectGroup">Culture Sorting</a></li>
                    <li><a href="~/VicFinals/Select">Areas Ranking </a></li>
                    <li><a href="~/VicFinals/Compare">Areas Comparison </a></li>


                </ul>
            </div>
        </div>
    </nav>


    <div class='tableauPlaceholder' id='viz1557725805651' style='position: relative' align="center"><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WM&#47;WMR2JK4XJ&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;WMR2JK4XJ' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WM&#47;WMR2JK4XJ&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
    <script nonce="rAnd0m123" type='text/javascript'>var divElement = document.getElementById('viz1557725805651'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.60) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

</body>
</html>
